body{
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}
header{
  background: #232323;
  padding-bottom: 100px;
}
.container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.not-page{
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.not-page h3{
	font-size: 150px;
	font-weight: bold;
}